.version.index /* version checker */
{
	color: #0000EA;
	background-color: #D6ABC2;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

@font-face
{
	font-family: '__Ubuntu_5';
	src: url('../fonts/ubuntu-v9-latin-300.eot');
	src: local('☺'), url('../fonts/ubuntu-v9-latin-300.woff') format('woff'), url('../fonts/ubuntu-v9-latin-300.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face
{
	font-family: '__Marcellus SC_5';
	src: url('../fonts/marcellus-sc-v4-latin-regular.eot');
	src: local('☺'), url('../fonts/marcellus-sc-v4-latin-regular.woff') format('woff'), url('../fonts/marcellus-sc-v4-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Ubuntu_5';
	src: url('../fonts/ubuntu-v9-latin-500.eot');
	src: local('☺'), url('../fonts/ubuntu-v9-latin-500.woff') format('woff'), url('../fonts/ubuntu-v9-latin-500.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: '__Marcellus_5';
	src: url('../fonts/marcellus-v4-latin-regular.eot');
	src: local('☺'), url('../fonts/marcellus-v4-latin-regular.woff') format('woff'), url('../fonts/marcellus-v4-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Ubuntu Mono_5';
	src: url('../fonts/ubuntu-mono-v6-latin-regular.eot');
	src: local('☺'), url('../fonts/ubuntu-mono-v6-latin-regular.woff') format('woff'), url('../fonts/ubuntu-mono-v6-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

#page
{
	border-color: #000000;
	z-index: 1;
	background-color: transparent;
	margin-left: auto;
	border-width: 0px;
	width: 100%;
	margin-right: auto;
	background-image: none;
}

#u158
{
	border-color: #FFFFFF;
	border-style: solid;
	z-index: 2;
	background-color: #F42626;
	border-width: 0px 0px 3px;
}

#u608
{
	z-index: 36;
	background-color: transparent;
	position: relative;
}

#u255-4
{
	font-family: '__Marcellus SC_5';
	font-weight: 400;
	z-index: 3;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u618-4
{
	font-family: '__Marcellus_5';
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	position: relative;
	opacity: 0.9;
	filter: alpha(opacity=90);
	font-weight: 400;
	z-index: 7;
	background-color: transparent;
	color: #FFFFFF;
}

#u740-4
{
	font-family: '__Ubuntu_5';
	font-weight: 500;
	z-index: 11;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u726
{
	z-index: 31;
	background-color: transparent;
	position: relative;
}

#u763-4
{
	font-family: '__Ubuntu_5';
	position: relative;
	font-weight: 500;
	z-index: 15;
	background-color: transparent;
	color: #FFFFFF;
}

#u772-4
{
	font-family: '__Ubuntu_5';
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	position: relative;
	opacity: 0.9;
	filter: alpha(opacity=90);
	font-weight: 300;
	z-index: 27;
	background-color: transparent;
	color: #FFFFFF;
}

#u749
{
	z-index: 33;
	background-color: transparent;
	position: relative;
}

#u1652-4
{
	font-family: '__Ubuntu_5';
	font-weight: 500;
	z-index: 19;
	background-color: transparent;
	position: relative;
}

#u1629
{
	z-index: 38;
	background-color: transparent;
}

#u1625
{
	z-index: 39;
	display: block;
}

#u1642-36
{
	font-family: '__Ubuntu Mono_5';
	margin-right: -10000px;
	font-weight: 400;
	z-index: 40;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u1642-9,#u1642-13
{
	color: #F42626;
}

#u1642-5,#u1642-22
{
	color: #F8E71C;
}

#u1642-11,#u1642-18,#u1642-26
{
	color: #8ED72B;
}

#u1661-4
{
	font-family: '__Ubuntu_5';
	position: relative;
	font-weight: 500;
	z-index: 23;
	background-color: transparent;
	color: #F8E71C;
	text-align: center;
}

#u1853
{
	vertical-align: top;
	background-repeat: no-repeat;
	z-index: 93;
	position: relative;
	background-position: 0px 0px;
	height: 2px;
}

#u1670-4
{
	transition-delay: 0s;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	font-size: 22px;
	line-height: 26px;
	font-family: '__Ubuntu_5';
	transition-duration: 0.3s;
	color: #037AFF;
	font-weight: 300;
	z-index: 76;
	background-color: transparent;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	position: relative;
}

#u1679-4
{
	transition-delay: 0s;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	font-size: 22px;
	font-family: '__Ubuntu_5';
	transition-duration: 0.3s;
	color: #037AFF;
	line-height: 26px;
	font-weight: 300;
	z-index: 80;
	background-color: transparent;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	position: relative;
}

#u1670-4:hover,#u1679-4:hover
{
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
}

#u1670-4:hover p,#u1679-4:hover p
{
	visibility: inherit;
	color: #FFFFFF;
}

#u1688-4
{
	font-family: '__Ubuntu_5';
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	opacity: 0.7;
	filter: alpha(opacity=70);
	position: relative;
	font-weight: 300;
	z-index: 84;
	background-color: transparent;
	color: #FFFFFF;
}

#u2369
{
	transition-delay: 0s;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	z-index: 94;
	background-color: transparent;
	background-image: url("../images/blank.gif");
}

#u2369:hover
{
	transition-delay: 0s;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-delay: 0s;
	filter: alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	margin-right: 0px;
	margin-bottom: 0px;
	transition-duration: 0.4s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	min-height: 0px;
	opacity: 0.5;
}

#u726_img,#u749_img,#u2369_img
{
	width: 100%;
}

#u3296-4
{
	transition-delay: 0s;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	font-family: '__Marcellus_5';
	color: #FFFFFF;
	font-weight: 400;
	transition-duration: 0s;
	z-index: 96;
	background-color: transparent;
	min-height: 23px;
	background-image: url("../images/blank.gif");
	position: relative;
}

#u3296-4:hover
{
	transition-delay: 0s;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-delay: 0s;
	padding-top: 0px;
	filter: alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	margin-right: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	transition-duration: 0.4s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	min-height: 23px;
	opacity: 0.5;
}

#u911
{
	border-style: solid;
	z-index: 35;
	background-color: #F42626;
	border-color: #FFFFFF;
	border-width: 3px 0px 0px;
}

#u911_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u1705-5
{
	transition-delay: 0s;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-delay: 0s;
	color: #FFFFFF;
	font-family: '__Marcellus SC_5';
	transition-duration: 0.4s;
	margin-right: -10000px;
	font-weight: 400;
	z-index: 88;
	background-color: transparent;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	position: relative;
	text-align: center;
}

#u1705-5:hover
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	padding-top: 0px;
	filter: alpha(opacity=50);
	margin-right: -10000px;
	opacity: 0.5;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#u1705-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u911-bw
{
	z-index: 35;
}

.html
{
	background-color: #1B2021;
}

body
{
	position: relative;
}

@media (min-width: 769px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 2618.9px;
		padding-bottom: 0px;
		max-width: 960px;
	}

	#u158
	{
		min-height: 202px;
		padding-bottom: 14px;
	}

	#u158_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 960px;
	}

	#u608
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 18.96%;
		left: 2.09%;
	}

	#page_position_content,#u608_img
	{
		width: 100%;
	}

	#pu255-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 23px;
		width: 68.75%;
		margin-left: 25.94%;
	}

	#u255-4
	{
		min-height: 91px;
		line-height: 86px;
		text-align: left;
		font-size: 72px;
		width: 64.1%;
	}

	#u618-4
	{
		min-height: 63px;
		line-height: 29px;
		text-align: left;
		font-size: 24px;
		margin-top: 6px;
		width: 100%;
	}

	#u158-bw
	{
		z-index: 2;
		min-height: 202px;
	}

	#pu740-4
	{
		margin-top: 104px;
		width: 100%;
	}

	#u740-4
	{
		min-height: 108px;
		line-height: 36px;
		text-align: left;
		font-size: 30px;
		margin-right: -10000px;
		margin-top: 186px;
		left: 93px;
		width: 33.44%;
	}

	#u726
	{
		margin-right: -10000px;
		width: 36.67%;
		margin-left: 63.34%;
		left: -93px;
	}

	#pu749
	{
		margin-top: 231px;
		width: 100%;
	}

	#u749
	{
		margin-right: -10000px;
		width: 36.67%;
		left: 9.69%;
	}

	#pu763-4
	{
		margin-right: -10000px;
		margin-top: 175px;
		width: 35.21%;
		margin-left: 53.65%;
	}

	#u763-4
	{
		min-height: 84px;
		line-height: 36px;
		text-align: left;
		font-size: 30px;
		width: 100%;
	}

	#u772-4
	{
		min-height: 41px;
		line-height: 19px;
		text-align: left;
		font-size: 16px;
		margin-top: 9px;
		width: 99.71%;
	}

	#pu1652-4
	{
		margin-top: 290px;
		width: 100%;
	}

	#u1652-4
	{
		min-height: 84px;
		line-height: 36px;
		color: #F8E71C;
		text-align: left;
		font-size: 30px;
		margin-right: -10000px;
		margin-top: 94px;
		width: 24.48%;
		left: 9.59%;
	}

	#u1629
	{
		width: 572px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -592px;
	}

	#u1642-36
	{
		width: 434px;
		min-height: 248px;
		line-height: 22px;
		font-size: 18px;
		margin-top: 29px;
		margin-left: 100%;
		left: -510px;
	}

	#u1661-4
	{
		min-height: 61px;
		line-height: 43px;
		font-size: 36px;
		margin-top: 248px;
		width: 56.05%;
		margin-left: 21.98%;
	}

	#u1853
	{
		background-image: url("../images/u1853.png");
		margin-top: 19px;
		width: 60.32%;
		margin-left: 19.85%;
		left: 1px;
	}

	#pu1670-4
	{
		margin-top: 18px;
		width: 100%;
	}

	#u1670-4
	{
		min-height: 28px;
		text-align: left;
		margin-right: -10000px;
		width: 7.3%;
		left: 19.8%;
	}

	#u1679-4
	{
		min-height: 28px;
		text-align: left;
		margin-right: -10000px;
		width: 7.3%;
		left: 44.48%;
	}

	#u1670-4:hover,#u1679-4:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		min-height: 28px;
		width: 7.3%;
		margin-left: 0%;
	}

	#u1688-4
	{
		min-height: 28px;
		line-height: 23px;
		text-align: left;
		font-size: 19px;
		margin-right: -10000px;
		width: 19.59%;
		left: 60.42%;
	}

	#u3296-4
	{
		line-height: 19px;
		font-size: 16px;
		margin-left: 22px;
		margin-top: 75px;
		width: 18.23%;
	}

	#u3296-4:hover
	{
		margin-left: 22px;
		margin-top: 75px;
		width: 18.23%;
	}

	#u911
	{
		min-height: 86px;
		padding-bottom: 28px;
	}

	#u911_align_to_page
	{
		max-width: 960px;
		margin-bottom: -1px;
	}

	#u1705-5
	{
		min-height: 60px;
		line-height: 60px;
		font-size: 50px;
		margin-top: 26px;
		width: 58.86%;
		margin-left: 20.58%;
		left: -1px;
	}

	#u1705-5:hover
	{
		margin-top: 26px;
		min-height: 60px;
		width: 58.86%;
		margin-left: 20.58%;
		left: -1px;
	}

	#u1705
	{
		line-height: 60px;
	}

	#u1705-2
	{
		font-size: 25px;
		line-height: 30px;
	}

	#u911-bw
	{
		min-height: 86px;
		margin-top: -1px;
	}

	#u2369
	{
		position: fixed;
		bottom: -90px;
		right: 20px;
		width: 9.48%;
		max-width: 91px;
	}

	#u2369:hover
	{
		margin-left: 0px;
		margin-top: 0px;
		width: 9.48%;
		max-width: 91px;
	}
}

@media (min-width: 481px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 1568.8000000000006px;
		padding-bottom: 0px;
		max-width: 768px;
	}

	#u158
	{
		min-height: 207px;
		padding-bottom: 14px;
	}

	#u158_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 768px;
	}

	#u608
	{
		margin-right: -10000px;
		margin-top: 20px;
		left: 20px;
		width: 24.35%;
	}

	#page_position_content,#u608_img
	{
		width: 100%;
	}

	#pu255-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 28px;
		width: 65.89%;
		margin-left: 29.95%;
	}

	#u255-4
	{
		min-height: 29px;
		line-height: 84px;
		text-align: left;
		font-size: 70px;
		width: 76.49%;
	}

	#u618-4
	{
		min-height: 81px;
		line-height: 26px;
		text-align: left;
		font-size: 22px;
		margin-top: 7px;
		width: 100%;
	}

	#u158-bw
	{
		z-index: 2;
		min-height: 207px;
	}

	#pu740-4
	{
		margin-top: 99px;
		width: 100%;
	}

	#u740-4
	{
		min-height: 63px;
		line-height: 30px;
		text-align: center;
		font-size: 25px;
		margin-right: -10000px;
		margin-top: 144px;
		left: 74px;
		width: 35.94%;
	}

	#u726
	{
		margin-right: -10000px;
		width: 36.59%;
		margin-left: 63.42%;
		left: -75px;
	}

	#pu749
	{
		margin-top: 327px;
		width: 100%;
	}

	#u749
	{
		margin-right: -10000px;
		left: 74px;
		width: 36.59%;
	}

	#pu763-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 140px;
		width: 39.07%;
		margin-left: 60.94%;
	}

	#u763-4
	{
		min-height: 63px;
		line-height: 30px;
		text-align: center;
		font-size: 25px;
		width: 100%;
		margin-left: 0%;
		left: -75px;
	}

	#u772-4
	{
		min-height: 46px;
		line-height: 20px;
		text-align: center;
		font-size: 17px;
		margin-top: 17px;
		width: 99.67%;
		margin-left: 0.34%;
		left: -75px;
	}

	#pu1652-4
	{
		margin-top: 346px;
		width: 100%;
	}

	#u1652-4
	{
		min-height: 88px;
		line-height: 30px;
		color: #FFFFFF;
		text-align: center;
		font-size: 25px;
		margin-right: -10000px;
		margin-top: 68px;
		left: 74px;
		width: 26.18%;
	}

	#u1629
	{
		width: 458px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -478px;
	}

	#u1642-36
	{
		width: 347px;
		min-height: 198px;
		line-height: 19px;
		font-size: 16px;
		margin-top: 17px;
		margin-left: 100%;
		left: -410px;
	}

	#u1661-4
	{
		min-height: 63px;
		line-height: 43px;
		font-size: 36px;
		margin-top: 237px;
		width: 55.86%;
		margin-left: 22.08%;
		left: -1px;
	}

	#u1853
	{
		background-image: url("../images/u18532.png");
		margin-top: 12px;
		width: 83.86%;
		margin-left: 8.08%;
		left: 0px;
	}

	#pu1670-4
	{
		margin-top: 21px;
		width: 100%;
	}

	#u1670-4
	{
		min-height: 40px;
		text-align: center;
		margin-right: -10000px;
		margin-top: 1px;
		width: 14.72%;
		left: 21.49%;
	}

	#u1670-4:hover
	{
		margin-right: -10000px;
		margin-top: 1px;
		min-height: 40px;
		width: 14.72%;
		margin-left: 0%;
	}

	#u1679-4
	{
		min-height: 42px;
		text-align: center;
		margin-right: -10000px;
		width: 14.72%;
		left: 42.58%;
	}

	#u1679-4:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		min-height: 42px;
		width: 14.72%;
		margin-left: 0%;
	}

	#u1688-4
	{
		min-height: 41px;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		margin-right: -10000px;
		width: 21.62%;
		left: 60.81%;
	}

	#u3296-4
	{
		line-height: 19px;
		text-align: left;
		font-size: 16px;
		margin-left: 20px;
		margin-top: 185px;
		width: 18.23%;
	}

	#u3296-4:hover
	{
		margin-left: 20px;
		margin-top: 185px;
		width: 18.23%;
	}

	#u911
	{
		min-height: 89px;
		padding-bottom: 32px;
	}

	#u911_align_to_page
	{
		max-width: 768px;
	}

	#u1705-5
	{
		min-height: 29px;
		line-height: 60px;
		font-size: 50px;
		margin-top: 29px;
		width: 50.4%;
		margin-left: 24.81%;
		left: 1px;
	}

	#u1705-5:hover
	{
		margin-top: 29px;
		min-height: 29px;
		width: 50.4%;
		margin-left: 24.81%;
		left: 1px;
	}

	#u1705
	{
		line-height: 60px;
	}

	#u1705-2
	{
		font-size: 25px;
		line-height: 30px;
	}

	#u911-bw
	{
		min-height: 89px;
		margin-top: 1px;
	}

	#u2369
	{
		position: fixed;
		bottom: 26px;
		right: 20px;
		width: 9.51%;
		max-width: 73px;
	}

	#u2369:hover
	{
		margin-left: 0px;
		margin-top: 0px;
		width: 9.51%;
		max-width: 73px;
	}
}

@media (min-width: 376px) and (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 479.90000000000055px;
		padding-bottom: 0px;
		max-width: 480px;
	}

	#pu158
	{
		width: 100%;
	}

	#u158
	{
		height: 384px;
		margin-bottom: -2px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#pu608
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 88.13%;
		margin-left: 5.94%;
	}

	#u608
	{
		width: 156px;
		margin-left: 50%;
		left: -77.5px;
	}

	#u255-4
	{
		min-height: 29px;
		line-height: 72px;
		text-align: center;
		font-size: 60px;
		width: 78.73%;
		margin-left: 10.64%;
		left: 0.4999999999999929px;
	}

	#u618-4
	{
		min-height: 63px;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		margin-top: 35px;
		width: 100%;
		margin-left: 0%;
		left: 0.4999999999999929px;
	}

	#u740-4
	{
		min-height: 63px;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		margin-top: 94px;
		width: 81.46%;
		margin-left: 9.28%;
		left: 1px;
	}

	#u726
	{
		margin-top: 14px;
		width: 66.67%;
		margin-left: 16.67%;
		left: 0px;
	}

	#u763-4
	{
		min-height: 63px;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		margin-top: 136px;
		width: 81.25%;
		margin-left: 9.38%;
	}

	#u772-4
	{
		min-height: 40px;
		line-height: 18px;
		text-align: center;
		font-size: 15px;
		width: 81.46%;
		margin-left: 9.38%;
	}

	#u749
	{
		margin-top: 41px;
		width: 66.67%;
		margin-left: 16.67%;
	}

	#u1652-4
	{
		min-height: 63px;
		line-height: 29px;
		color: #FFFFFF;
		text-align: center;
		font-size: 24px;
		margin-top: 180px;
		width: 83.75%;
		margin-left: 8.13%;
		left: 0px;
	}

	#pu1629
	{
		margin-top: 31px;
		width: 100%;
	}

	#u1629
	{
		min-height: 268px;
	}

	#u1629-bw
	{
		z-index: 38;
		min-height: 268px;
	}

	#u1642-36
	{
		width: 335px;
		min-height: 187px;
		line-height: 19px;
		text-align: left;
		font-size: 16px;
		margin-top: 20px;
		margin-left: 50%;
		left: -167px;
	}

	#u1661-4
	{
		min-height: 50px;
		line-height: 38px;
		font-size: 32px;
		margin-top: 182px;
		width: 81.67%;
		margin-left: 9.17%;
		left: 0px;
	}

	#u1853
	{
		background-image: url("../images/u18533.png");
		margin-top: 13px;
		width: 83.96%;
		margin-left: 8.03%;
		left: -1px;
	}

	#u1670-4
	{
		min-height: 40px;
		text-align: center;
		margin-top: 22px;
		width: 39.38%;
		margin-left: 30.32%;
		left: -1px;
	}

	#u1670-4:hover
	{
		margin-right: 0px;
		margin-top: 22px;
		min-height: 40px;
		width: 39.38%;
		margin-left: 30.32%;
		left: -1px;
	}

	#u1679-4
	{
		min-height: 40px;
		text-align: center;
		margin-top: 31px;
		width: 39.38%;
		margin-left: 30.32%;
		left: -1px;
	}

	#u1679-4:hover
	{
		margin-right: 0px;
		margin-top: 31px;
		min-height: 40px;
		width: 39.38%;
		margin-left: 30.32%;
		left: -1px;
	}

	#u1688-4
	{
		min-height: 40px;
		line-height: 23px;
		text-align: center;
		font-size: 19px;
		margin-top: 31px;
		width: 58.55%;
		margin-left: 20.73%;
		left: 1px;
	}

	#u3296-4
	{
		line-height: 23px;
		text-align: center;
		font-size: 19px;
		margin-top: 70px;
		width: 38.75%;
		margin-left: 30.63%;
		left: 0px;
	}

	#u3296-4:hover
	{
		margin-top: 70px;
		width: 38.75%;
		margin-left: 30.63%;
		left: 0px;
	}

	#u911
	{
		min-height: 63px;
		padding-bottom: 18px;
	}

	#u911_align_to_page
	{
		max-width: 480px;
	}

	#u1705-5
	{
		min-height: 29px;
		line-height: 48px;
		font-size: 40px;
		margin-top: 15px;
		width: 69.38%;
		margin-left: 15.32%;
		left: 1px;
	}

	#u1705-5:hover
	{
		margin-top: 15px;
		min-height: 29px;
		width: 69.38%;
		margin-left: 15.32%;
		left: 1px;
	}

	#u1705
	{
		line-height: 48px;
	}

	#u1705-2
	{
		font-size: 20px;
		line-height: 24px;
	}

	#u911-bw
	{
		min-height: 63px;
		margin-top: 6px;
	}

	#u2369
	{
		position: fixed;
		bottom: 13px;
		right: 20px;
		width: 12.09%;
		max-width: 58px;
	}

	#u2369:hover
	{
		margin-left: 0px;
		margin-top: 0px;
		width: 12.09%;
		max-width: 58px;
	}
}

@media (min-width: 321px) and (max-width: 375px)
{
	#muse_css_mq
	{
		background-color: #000177;
	}

	#bp_375.active
	{
		display: block;
	}

	#page
	{
		min-height: 479.55221472862513px;
		padding-bottom: 0px;
		max-width: 375px;
	}

	#pu158
	{
		width: 100%;
	}

	#u158
	{
		height: 384px;
		margin-bottom: -2px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#pu608
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 88%;
		margin-left: 6%;
	}

	#u608
	{
		width: 156px;
		margin-left: 50%;
		left: -78.5px;
	}

	#u255-4
	{
		min-height: 29px;
		line-height: 72px;
		text-align: center;
		font-size: 60px;
		width: 78.79%;
		margin-left: 10.61%;
		left: -0.5px;
	}

	#u618-4
	{
		min-height: 63px;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		margin-top: 35px;
		width: 100%;
		margin-left: 0%;
		left: -0.5px;
	}

	#u740-4
	{
		min-height: 63px;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		margin-top: 94px;
		width: 81.34%;
		margin-left: 9.34%;
		left: 0px;
	}

	#u726
	{
		margin-top: 14px;
		width: 66.67%;
		margin-left: 16.67%;
		left: 0px;
	}

	#u763-4
	{
		min-height: 63px;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		margin-top: 136px;
		width: 81.34%;
		margin-left: 9.34%;
	}

	#u772-4
	{
		min-height: 40px;
		line-height: 18px;
		text-align: center;
		font-size: 15px;
		width: 81.34%;
		margin-left: 9.34%;
	}

	#u749
	{
		margin-top: 41px;
		width: 66.67%;
		margin-left: 16.8%;
	}

	#u1652-4
	{
		min-height: 63px;
		line-height: 29px;
		color: #F8E71C;
		text-align: center;
		font-size: 24px;
		margin-top: 180px;
		width: 83.74%;
		margin-left: 8.14%;
		left: 0px;
	}

	#pu1629
	{
		margin-top: 31px;
		width: 100%;
	}

	#u1629
	{
		min-height: 268px;
	}

	#u1629-bw
	{
		z-index: 38;
		min-height: 268px;
	}

	#u1642-36
	{
		width: 275px;
		min-height: 187px;
		text-align: left;
		margin-top: 35px;
		margin-left: 50%;
		left: -138px;
	}

	#u1642-7,#u1642-15,#u1642-16,#u1642-20,#u1642-24,#u1642-28,#u1642-30,#u1642-32
	{
		font-size: 14px;
	}

	#u1642-2,#u1642-3,#u1642-34
	{
		font-size: 12px;
		line-height: 14px;
	}

	#u1661-4
	{
		min-height: 50px;
		line-height: 38px;
		font-size: 32px;
		margin-top: 183px;
		width: 81.6%;
		margin-left: 9.21%;
		left: -1px;
	}

	#u1853
	{
		background-image: url("../images/u18534.png");
		margin-top: 12px;
		width: 84%;
		margin-left: 8.01%;
		left: 0px;
	}

	#u1670-4
	{
		min-height: 40px;
		text-align: center;
		margin-top: 22px;
		width: 39.47%;
		margin-left: 30.27%;
		left: 1px;
	}

	#u1670-4:hover
	{
		margin-right: 0px;
		margin-top: 22px;
		min-height: 40px;
		width: 39.47%;
		margin-left: 30.27%;
		left: 1px;
	}

	#u1679-4
	{
		min-height: 40px;
		text-align: center;
		margin-top: 31px;
		width: 39.47%;
		margin-left: 30.27%;
		left: 1px;
	}

	#u1679-4:hover
	{
		margin-right: 0px;
		margin-top: 31px;
		min-height: 40px;
		width: 39.47%;
		margin-left: 30.27%;
		left: 1px;
	}

	#u1688-4
	{
		min-height: 40px;
		line-height: 23px;
		text-align: center;
		font-size: 19px;
		margin-top: 34px;
		width: 52.27%;
		margin-left: 23.87%;
		left: -1px;
	}

	#u3296-4
	{
		line-height: 23px;
		text-align: center;
		font-size: 19px;
		margin-top: 73px;
		width: 38.67%;
		margin-left: 30.67%;
		left: 0px;
	}

	#u3296-4:hover
	{
		margin-top: 73px;
		width: 38.67%;
		margin-left: 30.67%;
		left: 0px;
	}

	#u911
	{
		min-height: 63px;
		padding-bottom: 18px;
	}

	#u911_align_to_page
	{
		max-width: 375px;
	}

	#u1705-5
	{
		min-height: 29px;
		line-height: 48px;
		font-size: 40px;
		margin-top: 15px;
		width: 69.34%;
		margin-left: 15.34%;
		left: 0px;
	}

	#u1705-5:hover
	{
		margin-top: 15px;
		min-height: 29px;
		width: 69.34%;
		margin-left: 15.34%;
		left: 0px;
	}

	#u1705
	{
		line-height: 48px;
	}

	#u1705-2
	{
		font-size: 20px;
		line-height: 24px;
	}

	#u911-bw
	{
		min-height: 63px;
		margin-top: 6px;
	}

	#u2369
	{
		position: fixed;
		bottom: 27px;
		right: 20px;
		width: 13.34%;
		max-width: 50px;
	}

	#u2369:hover
	{
		margin-left: 0px;
		margin-top: 0px;
		width: 13.34%;
		max-width: 50px;
	}
}

@media (max-width: 320px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 2500px;
		max-width: 320px;
	}

	#u158
	{
		min-height: 408px;
	}

	#u158_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 320px;
		padding-top: 20px;
		padding-bottom: 29px;
	}

	#u608
	{
		width: 156px;
		margin-left: 50%;
		left: -78px;
	}

	#u255-4
	{
		min-height: 29px;
		line-height: 72px;
		text-align: center;
		font-size: 60px;
		width: 69.38%;
		margin-left: 15.32%;
		left: 0px;
	}

	#u618-4
	{
		min-height: 63px;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		margin-top: 35px;
		width: 88.13%;
		margin-left: 5.94%;
		left: 0px;
	}

	#u158-bw
	{
		z-index: 2;
		min-height: 408px;
	}

	#u740-4
	{
		min-height: 63px;
		line-height: 26px;
		text-align: center;
		font-size: 22px;
		margin-top: 84px;
		width: 87.19%;
		margin-left: 6.41%;
		left: 0px;
	}

	#u726
	{
		margin-top: 31px;
		width: 79.69%;
		margin-left: 10.16%;
		left: 1px;
	}

	#u763-4
	{
		min-height: 63px;
		line-height: 26px;
		text-align: center;
		font-size: 22px;
		margin-top: 125px;
		width: 87.19%;
		margin-left: 6.57%;
	}

	#u772-4
	{
		min-height: 40px;
		line-height: 18px;
		text-align: center;
		font-size: 15px;
		width: 87.5%;
		margin-left: 6.25%;
	}

	#u749
	{
		margin-top: 15px;
		width: 79.69%;
		margin-left: 10.32%;
	}

	#u1652-4
	{
		min-height: 63px;
		line-height: 26px;
		color: #FFFFFF;
		text-align: center;
		font-size: 22px;
		margin-top: 133px;
		width: 86.57%;
		margin-left: 6.72%;
		left: -1px;
	}

	#pu1629
	{
		margin-top: 29px;
		width: 100%;
	}

	#u1629
	{
		width: 311px;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: -156px;
	}

	#u1642-36
	{
		min-height: 130px;
		line-height: 14px;
		text-align: left;
		font-size: 12px;
		margin-top: 3px;
		width: 69.69%;
		margin-left: 15.16%;
		left: -1px;
	}

	#u1661-4
	{
		min-height: 63px;
		line-height: 37px;
		font-size: 31px;
		margin-top: 105px;
		width: 87.19%;
		margin-left: 6.41%;
		left: -1px;
	}

	#u1853
	{
		background-image: url("../images/u18535.png");
		margin-top: 7px;
		width: 84.07%;
		margin-left: 7.97%;
		left: -1px;
	}

	#u1670-4
	{
		min-height: 40px;
		text-align: center;
		margin-top: 27px;
		width: 39.38%;
		margin-left: 30.32%;
		left: 0px;
	}

	#u1670-4:hover
	{
		margin-right: 0px;
		margin-top: 27px;
		min-height: 40px;
		width: 39.38%;
		margin-left: 30.32%;
		left: 0px;
	}

	#u1679-4
	{
		min-height: 40px;
		text-align: center;
		margin-top: 25px;
		width: 39.38%;
		margin-left: 30.32%;
		left: 0px;
	}

	#u1679-4:hover
	{
		margin-right: 0px;
		margin-top: 25px;
		min-height: 40px;
		width: 39.38%;
		margin-left: 30.32%;
		left: 0px;
	}

	#u1688-4
	{
		min-height: 40px;
		line-height: 23px;
		text-align: center;
		font-size: 19px;
		margin-top: 25px;
		width: 56.25%;
		margin-left: 21.88%;
		left: 0px;
	}

	#u2369
	{
		margin-top: 137px;
		position: relative;
		width: 36.88%;
		margin-left: 31.57%;
		left: 0px;
	}

	#u2369:hover
	{
		margin-top: 137px;
		width: 36.88%;
		margin-left: 31.57%;
		left: 0px;
	}

	#u3296-4
	{
		line-height: 19px;
		text-align: center;
		font-size: 16px;
		margin-top: 40px;
		width: 51.25%;
		margin-left: 24.38%;
		left: -1px;
	}

	#u3296-4:hover
	{
		margin-top: 40px;
		width: 51.25%;
		margin-left: 24.38%;
		left: -1px;
	}

	#u911
	{
		min-height: 73px;
		padding-bottom: 32px;
	}

	#u911_align_to_page
	{
		max-width: 320px;
	}

	#u1705-5
	{
		min-height: 29px;
		line-height: 43px;
		font-size: 36px;
		margin-top: 30px;
		width: 80.63%;
		margin-left: 9.69%;
		left: 0px;
	}

	#u1705-5:hover
	{
		margin-top: 30px;
		min-height: 29px;
		width: 80.63%;
		margin-left: 9.69%;
		left: 0px;
	}

	#u1705
	{
		line-height: 43px;
	}

	#u1705-2
	{
		font-size: 18px;
		line-height: 22px;
	}

	#u911-bw
	{
		min-height: 73px;
		margin-top: 8px;
	}

	body
	{
		min-width: 320px;
	}
}

