.version.index /* version checker */
{
	color: #0000F0;
	background-color: #8B61F1;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

@font-face
{
	font-family: '__Marcellus SC_5';
	src: url('../fonts/marcellus-sc-v4-latin-regular.eot');
	src: local('☺'), url('../fonts/marcellus-sc-v4-latin-regular.woff') format('woff'), url('../fonts/marcellus-sc-v4-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Marcellus_5';
	src: url('../fonts/marcellus-v4-latin-regular.eot');
	src: local('☺'), url('../fonts/marcellus-v4-latin-regular.woff') format('woff'), url('../fonts/marcellus-v4-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Ubuntu_5';
	src: url('../fonts/ubuntu-v9-latin-500.eot');
	src: local('☺'), url('../fonts/ubuntu-v9-latin-500.woff') format('woff'), url('../fonts/ubuntu-v9-latin-500.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

#page
{
	background-image: none;
	margin-right: auto;
	margin-left: auto;
	border-color: #000000;
	width: 100%;
	background-color: transparent;
	border-width: 0px;
	z-index: 1;
}

#u6964
{
	border-style: solid;
	z-index: 2;
	border-color: #FFFFFF;
	background-color: #F42626;
	border-width: 0px 0px 3px;
}

#u6939
{
	background-color: transparent;
	position: relative;
	z-index: 20;
}

#u6933-4
{
	font-family: '__Marcellus SC_5';
	background-color: transparent;
	z-index: 3;
	color: #FFFFFF;
	position: relative;
	font-weight: 400;
}

#u6960-4
{
	font-family: '__Marcellus_5';
	opacity: 0.9;
	filter: alpha(opacity=90);
	color: #FFFFFF;
	z-index: 7;
	background-color: transparent;
	position: relative;
	font-weight: 400;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

#u9373-4
{
	font-family: '__Marcellus SC_5';
	position: relative;
	filter: alpha(opacity=90);
	text-align: center;
	background-color: transparent;
	z-index: 11;
	margin-right: -10000px;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	opacity: 0.9;
	font-weight: 400;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

#u9388-4
{
	font-family: '__Marcellus SC_5';
	position: relative;
	filter: alpha(opacity=75);
	text-align: center;
	background-color: transparent;
	z-index: 15;
	margin-right: -10000px;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	opacity: 0.75;
	font-weight: 400;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

#u9373-4.MuseLinkActive,#u9388-4:hover
{
	margin-right: -10000px;
	padding-top: 0px;
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	opacity: 1;
	margin-bottom: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#pamphletu9093
{
	z-index: 33;
	width: 0.01px;
	position: relative;
}

#u9113
{
	margin-right: -10000px;
	position: relative;
	z-index: 34;
}

#u9604
{
	filter: alpha(opacity=75);
	border-radius: 8px;
	background-color: #FFFFFF;
	opacity: 0.75;
	z-index: 37;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

#u9589
{
	filter: alpha(opacity=75);
	border-radius: 8px;
	background-color: #FFFFFF;
	opacity: 0.75;
	z-index: 42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

#u9118
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: absolute;
}

#u9574
{
	filter: alpha(opacity=75);
	border-radius: 8px;
	background-color: #FFFFFF;
	opacity: 0.75;
	z-index: 47;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

#pu9118:hover #u9118,#pu9118:active #u9118
{
	top: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #6B6B6B;
	min-height: 0px;
	left: 0px;
	margin-left: 0px;
	margin-top: 0px;
}

#pu9114,#pu9116,#pu9118,#pu9437
{
	width: 0.01px;
	position: absolute;
}

#u9114,#u9116,#u9437
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: absolute;
	height: 45px;
}

#u9510
{
	filter: alpha(opacity=75);
	border-radius: 8px;
	background-color: #FFFFFF;
	opacity: 0.75;
	z-index: 52;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

#pu9114:hover #u9604,#pu9114:active #u9604,#pu9116:hover #u9589,#pu9116:active #u9589,#pu9118:hover #u9574,#pu9118:active #u9574,#pu9437:hover #u9510,#pu9437:active #u9510
{
	margin-right: -10000px;
	position: relative;
	filter: alpha(opacity=100);
	min-height: 0px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#pu9114.PamphletThumbSelected #u9604,#pu9116.PamphletThumbSelected #u9589,#pu9118.PamphletThumbSelected #u9574,#pu9437.PamphletThumbSelected #u9510
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 0px;
	opacity: 1;
}

#pu9114 #u9604,#pu9116 #u9589,#pu9118 #u9574,#pu9437 #u9510
{
	margin-right: -10000px;
	position: relative;
}

#pu9114:hover #u9114,#pu9114:active #u9114,#pu9116:hover #u9116,#pu9116:active #u9116,#pu9437:hover #u9437,#pu9437:active #u9437
{
	top: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #6B6B6B;
	min-height: 0px;
	left: 0px;
	margin-left: 0px;
	margin-top: 0px;
	height: 44px;
}

.ie #pu9114:hover #u9114,.ie #pu9114:active #u9114,.ie #pu9116:hover #u9116,.ie #pu9116:active #u9116,.ie #pu9118:hover #u9118,.ie #pu9118:active #u9118,.ie #pu9437:hover #u9437,.ie #pu9437:active #u9437
{
	background-color: transparent;
	opacity: 1;
	filter: none;
	-ms-filter: "";
}

#u9098
{
	background-color: transparent;
	position: absolute;
}

#u9098popup
{
	z-index: 55;
}

#u9103
{
	margin-right: -10000px;
	border-width: 0px;
	border-color: transparent;
	z-index: 56;
	background-color: transparent;
	position: relative;
}

#u9354
{
	background-color: transparent;
	position: relative;
	z-index: 61;
}

#u9104-4
{
	color: #FFFFFF;
	font-family: '__Ubuntu_5';
	background-color: transparent;
	z-index: 57;
	min-height: 60px;
	position: relative;
	font-weight: 500;
}

#u9107
{
	margin-right: -10000px;
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	z-index: 63;
}

#u9521
{
	background-color: transparent;
	position: relative;
	z-index: 64;
}

#u9619-4
{
	color: #FFFFFF;
	font-family: '__Ubuntu_5';
	background-color: transparent;
	z-index: 66;
	min-height: 60px;
	position: relative;
	font-weight: 500;
}

#u9099
{
	margin-right: -10000px;
	border-width: 0px;
	border-color: transparent;
	z-index: 70;
	background-color: transparent;
	position: relative;
}

#u9634
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 71;
}

#u9688
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 73;
}

#u9745-4
{
	color: #FFFFFF;
	font-family: '__Ubuntu_5';
	background-color: transparent;
	z-index: 75;
	min-height: 60px;
	position: relative;
	font-weight: 500;
}

#u9458
{
	margin-right: -10000px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	z-index: 79;
}

#u9760-13
{
	font-family: '__Marcellus_5';
	text-align: left;
	background-color: transparent;
	z-index: 80;
	margin-right: -10000px;
	font-size: 22px;
	line-height: 31px;
	color: #FFFFFF;
	position: relative;
	font-weight: 400;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton
{
	cursor: pointer;
}

#u6953
{
	-webkit-transition-duration: 0s;
	background-color: transparent;
	z-index: 93;
	background-image: url("../images/blank.gif");
	transition-delay: 0s;
	transition-duration: 0s;
	-webkit-transition-delay: 0s;
	position: relative;
}

#u6953:hover
{
	-webkit-transition-duration: 0.4s;
	transition-timing-function: ease;
	filter: alpha(opacity=50);
	-webkit-transition-timing-function: ease;
	min-height: 0px;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	transition-duration: 0.4s;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

#u6954
{
	width: 100%;
	display: block;
	z-index: 94;
}

#u6935
{
	-webkit-transition-duration: 0s;
	z-index: 27;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	transition-duration: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
}

#u6935:hover
{
	-webkit-transition-duration: 0.4s;
	transition-timing-function: ease;
	filter: alpha(opacity=50);
	-webkit-transition-timing-function: ease;
	min-height: 0px;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	transition-duration: 0.4s;
	margin-right: 0px;
	opacity: 0.5;
	margin-bottom: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

#u6935_img
{
	width: 100%;
}

#u6937-4
{
	font-family: '__Marcellus_5';
	filter: alpha(opacity=75);
	text-align: center;
	background-color: transparent;
	z-index: 29;
	min-height: 22px;
	color: #FFFFFF;
	opacity: 0.75;
	font-weight: 400;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

#u6946
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F42626;
	z-index: 19;
	border-width: 3px 0px 0px;
}

#u6946_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u6958-5
{
	-webkit-transition-duration: 0.4s;
	background-image: url("../images/blank.gif");
	transition-timing-function: ease;
	font-family: '__Marcellus SC_5';
	-webkit-transition-timing-function: ease;
	margin-right: -10000px;
	background-color: transparent;
	text-align: center;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	transition-duration: 0.4s;
	color: #FFFFFF;
	position: relative;
	font-weight: 400;
	z-index: 22;
}

#u6958-5:hover
{
	padding-top: 0px;
	filter: alpha(opacity=50);
	margin-right: -10000px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

#u6958-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6946-bw
{
	z-index: 19;
}

.html
{
	background-color: #1B2021;
}

body
{
	position: relative;
}

@media (min-width: 769px)
{
	#pu9118:hover #u9118,#pu9118:active #u9118
	{
		width: 44px;
		height: 44px;
	}

	#pu9116:hover #u9116,#pu9116:active #u9116,#pu9437:active #u9437,#pu9437:hover #u9437,#pu9114:hover #u9114,#pu9114:active #u9114
	{
		width: 44px;
	}

	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1133.85px;
		padding-bottom: 0px;
		max-width: 960px;
	}

	#u6964
	{
		min-height: 202px;
		padding-bottom: 14px;
	}

	#u6964_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 960px;
	}

	#u6939
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 18.96%;
		left: 2.09%;
	}

	#ppu6933-4
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 71.98%;
		margin-left: 25.94%;
	}

	#u6933-4
	{
		min-height: 91px;
		text-align: left;
		font-size: 72px;
		line-height: 86px;
		margin-right: -10000px;
		margin-top: 3px;
		width: 61.22%;
	}

	#u9373-4
	{
		min-height: 37px;
		width: 11.15%;
		left: 68.75%;
	}

	#u9373-4.MuseLinkActive
	{
		margin-top: 0px;
		min-height: 37px;
		width: 11.15%;
		margin-left: 0%;
	}

	#u9388-4
	{
		min-height: 37px;
		width: 18.67%;
		left: 81.34%;
	}

	#u9388-4:hover
	{
		margin-top: 0px;
		min-height: 37px;
		width: 18.67%;
		margin-left: 0%;
	}

	#u6960-4
	{
		min-height: 63px;
		text-align: left;
		font-size: 24px;
		line-height: 29px;
		margin-top: 6px;
		width: 95.52%;
	}

	#u6964-bw
	{
		z-index: 2;
		min-height: 202px;
	}

	#pamphletu9093
	{
		height: 543px;
		padding-bottom: 14px;
		margin-top: 47px;
		margin-left: 2.09%;
	}

	#u9113
	{
		width: 151px;
		margin-top: 527px;
		left: 384px;
	}

	#pu9114
	{
		top: -15px;
		left: -15px;
	}

	#u9604
	{
		height: 16px;
		width: 35.56%;
	}

	#pu9114:hover #u9604
	{
		margin-top: 14px;
		height: 16px;
		width: 35.56%;
		left: 31.12%;
	}

	#pu9114:active #u9604
	{
		margin-top: 14px;
		height: 16px;
		width: 35.56%;
		left: 31.12%;
	}

	#pu9116
	{
		top: -15px;
		left: 31px;
	}

	#pu9114.PamphletThumbSelected #u9604,#u9589
	{
		height: 16px;
		width: 35.56%;
	}

	#pu9116:hover #u9589
	{
		margin-top: 14px;
		height: 16px;
		width: 35.56%;
		left: 31.12%;
	}

	#pu9116:active #u9589
	{
		margin-top: 14px;
		height: 16px;
		width: 35.56%;
		left: 31.12%;
	}

	#pu9118
	{
		top: -15px;
		left: 76px;
	}

	#u9118
	{
		width: 45px;
		height: 45px;
	}

	#pu9116.PamphletThumbSelected #u9589,#u9574
	{
		height: 16px;
		width: 35.56%;
	}

	#pu9118:hover #u9574
	{
		margin-top: 14px;
		height: 16px;
		width: 35.56%;
		left: 31.12%;
	}

	#pu9118:active #u9574
	{
		margin-top: 14px;
		height: 16px;
		width: 35.56%;
		left: 31.12%;
	}

	#pu9437
	{
		top: -15px;
		left: 121px;
	}

	#u9114,#u9116,#u9437
	{
		width: 45px;
	}

	#pu9118.PamphletThumbSelected #u9574,#u9510
	{
		height: 16px;
		width: 35.56%;
	}

	#pu9437:hover #u9510
	{
		margin-top: 14px;
		height: 16px;
		width: 35.56%;
		left: 31.12%;
	}

	#pu9437:active #u9510
	{
		margin-top: 14px;
		height: 16px;
		width: 35.56%;
		left: 31.12%;
	}

	#pu9437.PamphletThumbSelected #u9510
	{
		height: 16px;
		width: 35.56%;
	}

	#pu9114 #u9604,#pu9116 #u9589,#pu9118 #u9574,#pu9437 #u9510
	{
		margin-top: 15px;
		width: 35.56%;
		left: 33.34%;
	}

	#u9098
	{
		width: 920px;
	}

	#u9103
	{
		width: 920px;
		height: 454px;
		padding-bottom: 16px;
	}

	#u9354
	{
		margin-top: 12px;
		width: 64.9%;
		margin-left: 17.5%;
	}

	#u9107
	{
		width: 920px;
		height: 464px;
		padding-bottom: 6px;
	}

	#u9104-4,#u9619-4
	{
		text-align: center;
		font-size: 24px;
		line-height: 34px;
		width: 27.51%;
		margin-left: 36.31%;
	}

	#u9521
	{
		width: 24.68%;
		margin-left: 37.61%;
	}

	#u9099
	{
		width: 920px;
		height: 380px;
		padding-bottom: 90px;
	}

	#u9745-4
	{
		text-align: center;
		font-size: 24px;
		line-height: 34px;
		width: 49.46%;
		margin-left: 25.33%;
	}

	#pu9634
	{
		margin-top: 32px;
		width: 84.35%;
	}

	#u9634
	{
		width: 57.99%;
	}

	#u9688
	{
		width: 20.88%;
		left: 79.13%;
	}

	#page_position_content,#u6939_img,#pu6933-4,#u9354_img,#u9521_img,#u9634_img,#u9688_img
	{
		width: 100%;
	}

	#u9458
	{
		width: 920px;
		height: 470px;
	}

	#u9760-13
	{
		min-height: 399px;
		width: 74.68%;
		left: 12.61%;
	}

	#u6953
	{
		margin-top: 120px;
		width: 20.21%;
		margin-left: 39.9%;
	}

	#u6953:hover
	{
		width: 20.21%;
		margin: 120px 0px 0px 39.895833333333336%;
	}

	#u6937-4
	{
		font-size: 12px;
		line-height: 14px;
	}

	#u6937-4-bw
	{
		z-index: 29;
		min-height: 22px;
		margin-top: 113px;
	}

	#u6946
	{
		min-height: 86px;
		padding-bottom: 28px;
	}

	#u6946_align_to_page
	{
		max-width: 960px;
		margin-bottom: -1px;
	}

	#u6958-5
	{
		min-height: 60px;
		font-size: 50px;
		line-height: 60px;
		margin-top: 26px;
		width: 58.86%;
		margin-left: 20.58%;
		left: 0px;
	}

	#u6958-5:hover
	{
		margin-top: 26px;
		min-height: 60px;
		width: 58.86%;
		margin-left: 20.58%;
		left: 0px;
	}

	#u6958
	{
		line-height: 60px;
	}

	#u6958-2
	{
		font-size: 25px;
		line-height: 30px;
	}

	#u6946-bw
	{
		min-height: 86px;
		margin-top: -1px;
	}

	#u6935
	{
		position: fixed;
		bottom: -172px;
		right: 20px;
		width: 10.42%;
		max-width: 100px;
	}

	#u6935:hover
	{
		margin-left: 0px;
		margin-top: 0px;
		width: 10.42%;
		max-width: 100px;
	}
}

@media (min-width: 481px) and (max-width: 768px)
{
	#pu9118:hover #u9118,#pu9118:active #u9118
	{
		width: 739px;
		height: 140px;
	}

	#pu9437:active #u9437,#pu9437:hover #u9437,#pu9114:hover #u9114,#pu9116:active #u9116,#pu9116:hover #u9116,#pu9114:active #u9114
	{
		width: 59px;
	}

	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 1568.9500000000007px;
		padding-bottom: 0px;
		max-width: 768px;
	}

	#u6964
	{
		min-height: 220px;
		padding-bottom: 1px;
	}

	#u6964_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 768px;
	}

	#u6939
	{
		margin-right: -10000px;
		margin-top: 20px;
		left: 20px;
		width: 24.35%;
	}

	#page_position_content,#u6939_img
	{
		width: 100%;
	}

	#pu6933-4
	{
		margin-right: -10000px;
		margin-top: 28px;
		width: 83.6%;
		margin-left: 14.85%;
	}

	#u6933-4
	{
		min-height: 29px;
		text-align: left;
		font-size: 70px;
		line-height: 84px;
		margin-right: -10000px;
		width: 60.29%;
		left: 18.07%;
	}

	#u6960-4
	{
		min-height: 81px;
		text-align: left;
		font-size: 22px;
		line-height: 26px;
		margin-right: -10000px;
		margin-top: 91px;
		width: 78.82%;
		left: 18.07%;
	}

	#u9373-4
	{
		min-height: 81px;
		margin-top: 101px;
		width: 78.82%;
		left: 19.63%;
	}

	#u9373-4.MuseLinkActive
	{
		margin-top: 101px;
		min-height: 81px;
		width: 78.82%;
		margin-left: 0%;
	}

	#u9388-4
	{
		min-height: 81px;
		margin-top: 111px;
		width: 78.82%;
		left: 21.19%;
	}

	#u9388-4:hover
	{
		margin-top: 111px;
		min-height: 81px;
		width: 78.82%;
		margin-left: 0%;
	}

	#u6953
	{
		margin-right: -10000px;
		margin-top: 34px;
		width: 29.44%;
	}

	#u6953:hover
	{
		width: 29.44%;
		margin: 34px -10000px 0px 0%;
	}

	#u6964-bw
	{
		z-index: 2;
		min-height: 220px;
	}

	#pamphletu9093
	{
		height: 610px;
		padding-bottom: 1787px;
		margin-top: 39px;
		margin-left: 17.71%;
	}

	#u9113
	{
		width: 228px;
		margin-top: 576px;
		left: 197px;
	}

	#pu9114
	{
		left: -10px;
	}

	#u9604
	{
		width: 28px;
		height: 25px;
	}

	#pu9114:hover #u9604
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 15%;
	}

	#pu9114:active #u9604
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 15%;
	}

	#pu9116
	{
		left: 60px;
	}

	#pu9114.PamphletThumbSelected #u9604,#u9589
	{
		width: 28px;
		height: 25px;
	}

	#pu9116:hover #u9589
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 15%;
	}

	#pu9116:active #u9589
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 15%;
	}

	#pu9114 #u9604,#pu9116 #u9589
	{
		width: 28px;
		margin-top: 10px;
		left: 16.67%;
	}

	#pu9118
	{
		left: 130px;
	}

	#u9118
	{
		width: 740px;
		height: 141px;
	}

	#pu9116.PamphletThumbSelected #u9589,#u9574
	{
		width: 28px;
		height: 25px;
	}

	#pu9118:hover #u9574
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 1.22%;
	}

	#pu9118:active #u9574
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 1.22%;
	}

	#pu9118 #u9574
	{
		width: 28px;
		margin-top: 10px;
		left: 1.36%;
	}

	#pu9437
	{
		left: 200px;
	}

	#u9114,#u9116,#u9437
	{
		width: 60px;
	}

	#pu9118.PamphletThumbSelected #u9574,#u9510
	{
		width: 28px;
		height: 25px;
	}

	#pu9437:hover #u9510
	{
		width: 28px;
		margin-top: -1px;
		height: 25px;
		left: -1.67%;
	}

	#pu9437:active #u9510
	{
		width: 28px;
		margin-top: -1px;
		height: 25px;
		left: -1.67%;
	}

	#pu9437.PamphletThumbSelected #u9510
	{
		width: 28px;
		height: 25px;
	}

	#pu9437 #u9510
	{
		width: 28px;
	}

	#u9098
	{
		width: 711px;
	}

	#u9103
	{
		width: 711px;
		height: 497px;
		padding-bottom: 1900px;
	}

	#u9354
	{
		width: 381px;
	}

	#u9104-4
	{
		line-height: 20px;
		margin-top: 193px;
		width: 81.58%;
		margin-left: 2.82%;
	}

	#u9107
	{
		width: 711px;
		height: 497px;
		padding-top: 10px;
		padding-bottom: 1890px;
	}

	#u9521
	{
		width: 220px;
		margin-left: 1.41%;
	}

	#u9619-4
	{
		line-height: 20px;
		margin-top: 46px;
		width: 81.58%;
		margin-left: 4.22%;
	}

	#u9099
	{
		width: 711px;
		height: 517px;
		padding-bottom: 1880px;
	}

	#pu9634
	{
		width: 62.03%;
		margin-left: 2.82%;
	}

	#u9634
	{
		width: 381px;
		left: 13.38%;
	}

	#u9688
	{
		width: 220px;
		margin-top: 20px;
	}

	#u9745-4
	{
		line-height: 20px;
		margin-top: 46px;
		width: 81.58%;
		margin-left: 5.63%;
	}

	#u9458
	{
		width: 711px;
		height: 2397px;
	}

	#u9760-13
	{
		min-height: 60px;
		margin-top: 457px;
		width: 81.58%;
		left: 5.63%;
	}

	#u6937-4
	{
		font-size: 11px;
		line-height: 13px;
		margin-top: 245px;
		position: relative;
		width: 32.56%;
		margin-left: 64.33%;
	}

	#u6946
	{
		min-height: 89px;
		padding-bottom: 32px;
	}

	#u6946_align_to_page
	{
		max-width: 768px;
	}

	#u6958-5
	{
		min-height: 29px;
		font-size: 50px;
		line-height: 60px;
		margin-top: 29px;
		width: 50.4%;
		margin-left: 24.81%;
		left: 1px;
	}

	#u6958-5:hover
	{
		margin-top: 29px;
		min-height: 29px;
		width: 50.4%;
		margin-left: 24.81%;
		left: 1px;
	}

	#u6958
	{
		line-height: 60px;
	}

	#u6958-2
	{
		font-size: 25px;
		line-height: 30px;
	}

	#u6946-bw
	{
		min-height: 89px;
		margin-top: 7px;
	}

	#u6935
	{
		position: fixed;
		bottom: 22px;
		right: 23px;
		width: 10.42%;
		max-width: 80px;
	}

	#u6935:hover
	{
		margin-left: 0px;
		margin-top: 0px;
		width: 10.42%;
		max-width: 80px;
	}
}

@media (min-width: 376px) and (max-width: 480px)
{
	#pu9116:hover #u9116,#pu9437:active #u9437,#pu9114:active #u9114,#pu9114:hover #u9114,#pu9116:active #u9116,#pu9437:hover #u9437
	{
		width: 59px;
	}

	#pu9118:hover #u9118,#pu9118:active #u9118
	{
		width: 739px;
		height: 140px;
	}

	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 479.6999999999998px;
		padding-bottom: 0px;
		max-width: 480px;
	}

	#pu6964
	{
		width: 100%;
	}

	#u6964
	{
		height: 384px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#pu6933-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 176px;
		width: 92.3%;
		margin-left: 3.86%;
	}

	#u6933-4
	{
		min-height: 29px;
		text-align: center;
		font-size: 60px;
		line-height: 72px;
		width: 75.17%;
		margin-left: 12.42%;
		left: 0.5000000000000391px;
	}

	#pu6960-4
	{
		margin-top: 35px;
		width: 100%;
		margin-left: 0%;
	}

	#u6960-4
	{
		min-height: 63px;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		margin-right: -10000px;
		width: 95.49%;
		margin-left: 2.26%;
		left: 0.5000000000000391px;
	}

	#u9373-4
	{
		min-height: 63px;
		margin-top: 10px;
		width: 95.49%;
		margin-left: 2.26%;
		left: 10.500000000000039px;
	}

	#u9373-4.MuseLinkActive
	{
		margin-top: 10px;
		min-height: 63px;
		width: 95.49%;
		margin-left: 2.26%;
		left: 10.500000000000039px;
	}

	#u9388-4
	{
		min-height: 63px;
		margin-top: 20px;
		width: 95.49%;
		margin-left: 2.26%;
		left: 20.50000000000004px;
	}

	#u9388-4:hover
	{
		margin-top: 20px;
		min-height: 63px;
		width: 95.49%;
		margin-left: 2.26%;
		left: 20.50000000000004px;
	}

	#pamphletu9093
	{
		height: 611px;
		padding-bottom: 2683px;
		margin-right: -10000px;
		margin-top: 263px;
		left: 17.71%;
	}

	#u9113
	{
		width: 228px;
		margin-top: 576px;
		left: 197px;
	}

	#pu9114
	{
		left: -10px;
	}

	#u9604
	{
		width: 28px;
		height: 25px;
	}

	#pu9114:hover #u9604
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 15%;
	}

	#pu9114:active #u9604
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 15%;
	}

	#pu9116
	{
		left: 60px;
	}

	#pu9114.PamphletThumbSelected #u9604,#u9589
	{
		width: 28px;
		height: 25px;
	}

	#pu9116:hover #u9589
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 15%;
	}

	#pu9116:active #u9589
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 15%;
	}

	#pu9114 #u9604,#pu9116 #u9589
	{
		width: 28px;
		margin-top: 10px;
		left: 16.67%;
	}

	#pu9118
	{
		left: 130px;
	}

	#u9118
	{
		width: 740px;
		height: 141px;
	}

	#pu9116.PamphletThumbSelected #u9589,#u9574
	{
		width: 28px;
		height: 25px;
	}

	#pu9118:hover #u9574
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 1.22%;
	}

	#pu9118:active #u9574
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 1.22%;
	}

	#pu9118 #u9574
	{
		width: 28px;
		margin-top: 10px;
		left: 1.36%;
	}

	#pu9437
	{
		left: 200px;
	}

	#u9114,#u9116,#u9437
	{
		width: 60px;
	}

	#pu9118.PamphletThumbSelected #u9574,#u9510
	{
		width: 28px;
		height: 25px;
	}

	#pu9437:hover #u9510
	{
		width: 28px;
		margin-top: -1px;
		height: 25px;
		left: -1.67%;
	}

	#pu9437:active #u9510
	{
		width: 28px;
		margin-top: -1px;
		height: 25px;
		left: -1.67%;
	}

	#pu9437.PamphletThumbSelected #u9510
	{
		width: 28px;
		height: 25px;
	}

	#pu9437 #u9510
	{
		width: 28px;
	}

	#u9098
	{
		width: 620px;
	}

	#u9103
	{
		width: 620px;
		height: 497px;
		padding-bottom: 2797px;
	}

	#u9354
	{
		width: 381px;
	}

	#u9104-4
	{
		line-height: 20px;
		margin-top: 193px;
		width: 93.55%;
		margin-left: 3.23%;
	}

	#u9107
	{
		width: 620px;
		height: 497px;
		padding-top: 10px;
		padding-bottom: 2787px;
	}

	#u9521
	{
		width: 220px;
		margin-left: 1.62%;
	}

	#u9619-4
	{
		line-height: 20px;
		margin-top: 46px;
		width: 93.55%;
		margin-left: 4.84%;
	}

	#u9099
	{
		width: 620px;
		height: 517px;
		padding-bottom: 2777px;
	}

	#pu9634
	{
		width: 62.91%;
		margin-left: 3.23%;
	}

	#u9634
	{
		width: 381px;
		left: 2.06%;
	}

	#u9688
	{
		width: 220px;
		margin-top: 20px;
	}

	#u9745-4
	{
		line-height: 20px;
		margin-top: 46px;
		width: 93.55%;
		margin-left: 6.46%;
	}

	#u9458
	{
		width: 620px;
		height: 3294px;
	}

	#u9760-13
	{
		min-height: 60px;
		margin-top: 457px;
		width: 93.55%;
		left: 6.46%;
	}

	#u6939
	{
		width: 156px;
		margin-right: -10000px;
		margin-top: 20px;
		margin-left: 50%;
		left: -78px;
	}

	#u6953
	{
		top: -2847px;
		margin-bottom: -115px;
		width: 38.75%;
		margin-left: 24.38%;
	}

	#u6953:hover
	{
		width: 38.75%;
		margin: 0px 0px -115px 24.375%;
	}

	#u6937-4
	{
		font-size: 12px;
		line-height: 14px;
	}

	#u6937-4-bw
	{
		z-index: 29;
		min-height: 22px;
		margin-top: 433px;
	}

	#u6935
	{
		position: fixed;
		bottom: 56px;
		right: 20px;
		width: 12.09%;
		max-width: 58px;
	}

	#u6935:hover
	{
		margin-left: 0px;
		margin-top: 0px;
		width: 12.09%;
		max-width: 58px;
	}

	#u6946
	{
		min-height: 65px;
		padding-bottom: 16px;
	}

	#u6946_align_to_page
	{
		max-width: 480px;
	}

	#u6958-5
	{
		min-height: 29px;
		font-size: 40px;
		line-height: 48px;
		margin-top: 17px;
		width: 69.38%;
		margin-left: 15.32%;
		left: 1px;
	}

	#u6958-5:hover
	{
		margin-top: 17px;
		min-height: 29px;
		width: 69.38%;
		margin-left: 15.32%;
		left: 1px;
	}

	#u6958
	{
		line-height: 48px;
	}

	#u6958-2
	{
		font-size: 20px;
		line-height: 24px;
	}

	#u6946-bw
	{
		min-height: 65px;
		margin-top: 9px;
	}
}

@media (min-width: 321px) and (max-width: 375px)
{
	#pu9116:hover #u9116,#pu9437:active #u9437,#pu9114:active #u9114,#pu9114:hover #u9114,#pu9116:active #u9116,#pu9437:hover #u9437
	{
		width: 59px;
	}

	#pu9118:hover #u9118,#pu9118:active #u9118
	{
		width: 739px;
		height: 140px;
	}

	#muse_css_mq
	{
		background-color: #000177;
	}

	#bp_375.active
	{
		display: block;
	}

	#page
	{
		min-height: 479.8522147286253px;
		padding-bottom: 0px;
		max-width: 375px;
	}

	#pu6964
	{
		width: 100%;
	}

	#u6964
	{
		height: 384px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#pu6933-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 176px;
		width: 93.34%;
		margin-left: 3.34%;
	}

	#u6933-4
	{
		min-height: 29px;
		text-align: center;
		font-size: 60px;
		line-height: 72px;
		width: 74.29%;
		margin-left: 12.86%;
		left: -0.5000000000000391px;
	}

	#pu6960-4
	{
		margin-top: 35px;
		width: 100%;
		margin-left: 0%;
	}

	#u6960-4
	{
		min-height: 63px;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		margin-right: -10000px;
		width: 94.29%;
		margin-left: 2.86%;
		left: -0.5000000000000391px;
	}

	#u9373-4
	{
		min-height: 63px;
		margin-top: 10px;
		width: 94.29%;
		margin-left: 2.86%;
		left: 9.499999999999961px;
	}

	#u9373-4.MuseLinkActive
	{
		margin-top: 10px;
		min-height: 63px;
		width: 94.29%;
		margin-left: 2.86%;
		left: 9.499999999999961px;
	}

	#u9388-4
	{
		min-height: 63px;
		margin-top: 20px;
		width: 94.29%;
		margin-left: 2.86%;
		left: 19.49999999999996px;
	}

	#u9388-4:hover
	{
		margin-top: 20px;
		min-height: 63px;
		width: 94.29%;
		margin-left: 2.86%;
		left: 19.49999999999996px;
	}

	#pamphletu9093
	{
		height: 611px;
		padding-bottom: 2127px;
		margin-right: -10000px;
		margin-top: 263px;
		left: 17.6%;
	}

	#u9113
	{
		width: 228px;
		margin-top: 576px;
		left: 197px;
	}

	#pu9114
	{
		left: -10px;
	}

	#u9604
	{
		width: 28px;
		height: 25px;
	}

	#pu9114:hover #u9604
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 15%;
	}

	#pu9114:active #u9604
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 15%;
	}

	#pu9116
	{
		left: 60px;
	}

	#pu9114.PamphletThumbSelected #u9604,#u9589
	{
		width: 28px;
		height: 25px;
	}

	#pu9116:hover #u9589
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 15%;
	}

	#pu9116:active #u9589
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 15%;
	}

	#pu9114 #u9604,#pu9116 #u9589
	{
		width: 28px;
		margin-top: 10px;
		left: 16.67%;
	}

	#pu9118
	{
		left: 130px;
	}

	#u9118
	{
		width: 740px;
		height: 141px;
	}

	#pu9116.PamphletThumbSelected #u9589,#u9574
	{
		width: 28px;
		height: 25px;
	}

	#pu9118:hover #u9574
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 1.22%;
	}

	#pu9118:active #u9574
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 1.22%;
	}

	#pu9118 #u9574
	{
		width: 28px;
		margin-top: 10px;
		left: 1.36%;
	}

	#pu9437
	{
		left: 200px;
	}

	#u9114,#u9116,#u9437
	{
		width: 60px;
	}

	#pu9118.PamphletThumbSelected #u9574,#u9510
	{
		width: 28px;
		height: 25px;
	}

	#pu9437:hover #u9510
	{
		width: 28px;
		margin-top: -1px;
		height: 25px;
		left: -1.67%;
	}

	#pu9437:active #u9510
	{
		width: 28px;
		margin-top: -1px;
		height: 25px;
		left: -1.67%;
	}

	#pu9437.PamphletThumbSelected #u9510
	{
		width: 28px;
		height: 25px;
	}

	#pu9437 #u9510
	{
		width: 28px;
	}

	#u9098
	{
		width: 620px;
	}

	#u9103
	{
		width: 620px;
		height: 497px;
		padding-bottom: 2241px;
	}

	#u9104-4
	{
		line-height: 20px;
		margin-top: 193px;
		width: 93.55%;
		margin-left: 3.23%;
	}

	#u9107
	{
		width: 620px;
		height: 497px;
		padding-top: 10px;
		padding-bottom: 2231px;
	}

	#u9521
	{
		width: 220px;
		margin-left: 1.62%;
	}

	#u9619-4
	{
		line-height: 20px;
		margin-top: 46px;
		width: 93.55%;
		margin-left: 4.84%;
	}

	#u9099
	{
		width: 620px;
		height: 517px;
		padding-bottom: 2221px;
	}

	#pu9634
	{
		width: 61.46%;
		margin-left: 1.62%;
	}

	#u9354,#u9634
	{
		width: 381px;
	}

	#u9688
	{
		width: 220px;
		margin-top: 20px;
		left: 2.63%;
	}

	#u9745-4
	{
		line-height: 20px;
		margin-top: 46px;
		width: 93.55%;
		margin-left: 6.46%;
	}

	#u9458
	{
		width: 620px;
		height: 2738px;
	}

	#u9760-13
	{
		min-height: 60px;
		margin-top: 457px;
		width: 93.55%;
		left: 6.46%;
	}

	#u6939
	{
		width: 156px;
		margin-right: -10000px;
		margin-top: 20px;
		margin-left: 50%;
		left: -78px;
	}

	#u6953
	{
		top: -2494px;
		margin-bottom: -138px;
		width: 59.47%;
		margin-left: 7.2%;
	}

	#u6953:hover
	{
		width: 59.47%;
		margin: 0px 0px -138px 7.199999999999999%;
	}

	#u6937-4
	{
		font-size: 12px;
		line-height: 14px;
	}

	#u6937-4-bw
	{
		z-index: 29;
		min-height: 22px;
		margin-top: 413px;
	}

	#u6946
	{
		min-height: 63px;
		padding-bottom: 18px;
	}

	#u6946_align_to_page
	{
		max-width: 375px;
	}

	#u6958-5
	{
		min-height: 29px;
		font-size: 40px;
		line-height: 48px;
		margin-top: 15px;
		width: 69.34%;
		margin-left: 15.34%;
		left: 0px;
	}

	#u6958-5:hover
	{
		margin-top: 15px;
		min-height: 29px;
		width: 69.34%;
		margin-left: 15.34%;
		left: 0px;
	}

	#u6958
	{
		line-height: 48px;
	}

	#u6958-2
	{
		font-size: 20px;
		line-height: 24px;
	}

	#u6946-bw
	{
		min-height: 63px;
		margin-top: 12px;
	}

	#u6935
	{
		position: fixed;
		bottom: 16px;
		right: 7px;
		width: 13.34%;
		max-width: 50px;
	}

	#u6935:hover
	{
		margin-left: 0px;
		margin-top: 0px;
		width: 13.34%;
		max-width: 50px;
	}
}

@media (max-width: 320px)
{
	/*

*/

	#pu9116:hover #u9116,#pu9114:hover #u9114,#pu9116:active #u9116,#pu9437:active #u9437,#pu9437:hover #u9437,#pu9114:active #u9114
	{
		width: 59px;
	}

	#pu9118:active #u9118,#pu9118:hover #u9118
	{
		width: 739px;
		height: 140px;
	}

	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 2500px;
		max-width: 320px;
	}

	#pu6964
	{
		width: 100%;
	}

	#u6964
	{
		min-height: 408px;
	}

	#u6964_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 320px;
		padding-top: 20px;
		padding-bottom: 29px;
	}

	#u6939
	{
		width: 156px;
		margin-left: 50%;
		left: -78px;
	}

	#u6933-4
	{
		min-height: 29px;
		text-align: center;
		font-size: 60px;
		line-height: 72px;
		width: 69.38%;
		margin-left: 15.32%;
		left: 0px;
	}

	#pu6960-4
	{
		margin-top: 35px;
		position: relative;
		width: 100%;
	}

	#u6960-4
	{
		min-height: 63px;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		margin-right: -10000px;
		width: 88.13%;
		margin-left: 5.94%;
		left: 0px;
	}

	#u9373-4
	{
		min-height: 63px;
		margin-top: 10px;
		width: 88.13%;
		margin-left: 5.94%;
		left: 10px;
	}

	#u9373-4.MuseLinkActive
	{
		margin-top: 10px;
		min-height: 63px;
		width: 88.13%;
		margin-left: 5.94%;
		left: 10px;
	}

	#u9388-4
	{
		min-height: 63px;
		margin-top: 20px;
		width: 88.13%;
		margin-left: 5.94%;
		left: 20px;
	}

	#u9388-4:hover
	{
		margin-top: 20px;
		min-height: 63px;
		width: 88.13%;
		margin-left: 5.94%;
		left: 20px;
	}

	#u6964-bw
	{
		z-index: 2;
		min-height: 408px;
	}

	#pamphletu9093
	{
		height: 611px;
		padding-bottom: 2045px;
		margin-right: -10000px;
		margin-top: 263px;
		left: 17.82%;
	}

	#u9113
	{
		width: 228px;
		margin-top: 576px;
		left: 197px;
	}

	#pu9114
	{
		left: -10px;
	}

	#u9604
	{
		width: 28px;
		height: 25px;
	}

	#pu9114:hover #u9604
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 15%;
	}

	#pu9114:active #u9604
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 15%;
	}

	#pu9116
	{
		left: 60px;
	}

	#pu9114.PamphletThumbSelected #u9604,#u9589
	{
		width: 28px;
		height: 25px;
	}

	#pu9116:hover #u9589
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 15%;
	}

	#pu9116:active #u9589
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 15%;
	}

	#pu9114 #u9604,#pu9116 #u9589
	{
		width: 28px;
		margin-top: 10px;
		left: 16.67%;
	}

	#pu9118
	{
		left: 130px;
	}

	#u9118
	{
		width: 740px;
		height: 141px;
	}

	#pu9116.PamphletThumbSelected #u9589,#u9574
	{
		width: 28px;
		height: 25px;
	}

	#pu9118:hover #u9574
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 1.22%;
	}

	#pu9118:active #u9574
	{
		width: 28px;
		margin-top: 9px;
		height: 25px;
		left: 1.22%;
	}

	#pu9118 #u9574
	{
		width: 28px;
		margin-top: 10px;
		left: 1.36%;
	}

	#pu9437
	{
		left: 200px;
	}

	#u9114,#u9116,#u9437
	{
		width: 60px;
	}

	#pu9118.PamphletThumbSelected #u9574,#u9510
	{
		width: 28px;
		height: 25px;
	}

	#pu9437:hover #u9510
	{
		width: 28px;
		margin-top: -1px;
		height: 25px;
		left: -1.67%;
	}

	#pu9437:active #u9510
	{
		width: 28px;
		margin-top: -1px;
		height: 25px;
		left: -1.67%;
	}

	#pu9437.PamphletThumbSelected #u9510
	{
		width: 28px;
		height: 25px;
	}

	#pu9437 #u9510
	{
		width: 28px;
	}

	#u9098
	{
		width: 620px;
	}

	#u9103
	{
		width: 620px;
		height: 497px;
		padding-bottom: 2159px;
	}

	#u9104-4
	{
		line-height: 20px;
		margin-top: 193px;
		width: 93.55%;
		margin-left: 3.23%;
	}

	#u9107
	{
		width: 620px;
		height: 497px;
		padding-top: 10px;
		padding-bottom: 2149px;
	}

	#u9521
	{
		width: 220px;
		margin-left: 1.62%;
	}

	#u9619-4
	{
		line-height: 20px;
		margin-top: 46px;
		width: 93.55%;
		margin-left: 4.84%;
	}

	#u9099
	{
		width: 620px;
		height: 517px;
		padding-bottom: 2139px;
	}

	#pu9634
	{
		width: 61.46%;
	}

	#u9354,#u9634
	{
		width: 381px;
	}

	#u9688
	{
		width: 220px;
		margin-top: 20px;
		left: 5.25%;
	}

	#u9745-4
	{
		line-height: 20px;
		margin-top: 46px;
		width: 93.55%;
		margin-left: 6.46%;
	}

	#u9458
	{
		width: 620px;
		height: 2656px;
	}

	#u9760-13
	{
		min-height: 60px;
		margin-top: 457px;
		width: 93.55%;
		left: 6.46%;
	}

	#u6953
	{
		top: -2389px;
		margin-bottom: -126px;
		width: 63.44%;
	}

	#u6953:hover
	{
		width: 63.44%;
		margin: 0px 0px -126px 0%;
	}

	#u6935
	{
		margin-top: 427px;
		position: relative;
		width: 36.88%;
		margin-left: 31.57%;
		left: -1px;
	}

	#u6935:hover
	{
		margin-top: 427px;
		width: 36.88%;
		margin-left: 31.57%;
		left: -1px;
	}

	#u6937-4
	{
		font-size: 12px;
		line-height: 14px;
	}

	#u6937-4-bw
	{
		z-index: 29;
		min-height: 22px;
		margin-top: 22px;
	}

	#u6946
	{
		min-height: 73px;
		padding-bottom: 32px;
	}

	#u6946_align_to_page
	{
		max-width: 320px;
	}

	#u6958-5
	{
		min-height: 29px;
		font-size: 36px;
		line-height: 43px;
		margin-top: 30px;
		width: 80.63%;
		margin-left: 9.69%;
		left: 8px;
	}

	#u6958-5:hover
	{
		margin-top: 30px;
		min-height: 29px;
		width: 80.63%;
		margin-left: 9.69%;
		left: 8px;
	}

	#u6958
	{
		line-height: 43px;
	}

	#u6958-2
	{
		font-size: 18px;
		line-height: 22px;
	}

	#u6946-bw
	{
		min-height: 73px;
		margin-top: 21px;
	}

	body
	{
		min-width: 320px;
	}
}

