	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 2618.9px;
		padding-bottom: 0px;
		max-width: 960px;
	}

	#u158
	{
		min-height: 199px;
		padding-bottom: 17px;
	}

	#u608
	{
		margin-right: -10000px;
		margin-top: 17px;
		width: 18.96%;
		left: 16.57%;
	}

	#page_position_content,#u608_img
	{
		width: 100%;
	}

	#pu255-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 20px;
		width: 58.44%;
		margin-left: 39.48%;
	}

	#u255-4
	{
		min-height: 91px;
		text-align: left;
		font-size: 72px;
		line-height: 86px;
		width: 75.41%;
	}

	#u618-4
	{
		min-height: 63px;
		text-align: left;
		font-size: 22px;
		line-height: 26px;
		margin-top: 6px;
		width: 100%;
	}

	#u158-bw
	{
		min-height: 199px;
	}

	#pu740-4
	{
		margin-top: 104px;
		width: 100%;
	}

	#u740-4
	{
		min-height: 108px;
		text-align: left;
		font-size: 30px;
		line-height: 36px;
		margin-right: -10000px;
		margin-top: 186px;
		left: 93px;
		width: 33.44%;
	}

	#u726
	{
		margin-right: -10000px;
		width: 36.67%;
		margin-left: 63.34%;
		left: -93px;
	}

	#pu749
	{
		margin-top: 231px;
		width: 100%;
	}

	#u749
	{
		margin-right: -10000px;
		width: 36.67%;
		left: 9.69%;
	}

	#pu763-4
	{
		margin-right: -10000px;
		margin-top: 175px;
		width: 35.21%;
		margin-left: 53.65%;
	}

	#u763-4
	{
		min-height: 84px;
		text-align: left;
		font-size: 30px;
		line-height: 36px;
		width: 100%;
	}

	#u772-4
	{
		min-height: 41px;
		text-align: left;
		font-size: 16px;
		line-height: 19px;
		margin-top: 9px;
		width: 99.71%;
	}

	#pu1652-4
	{
		margin-top: 200px;
		width: 100%;
	}

	#u1652-4
	{
		min-height: 84px;
		text-align: left;
		font-size: 30px;
		line-height: 36px;
		margin-right: -10000px;
		margin-top: 94px;
		width: 24.48%;
		left: 9.59%;
	}

	#u1629
	{
		width: 572px;
		margin-left: 100%;
		left: -592px;
	}

	#u1642-36
	{
		width: 434px;
		min-height: 248px;
		font-size: 18px;
		line-height: 22px;
		margin-top: 29px;
		margin-left: 100%;
		left: -510px;
	}

	#u1661-4
	{
		min-height: 61px;
		font-size: 36px;
		line-height: 43px;
		margin-top: 228px;
		width: 56.05%;
		margin-left: 21.98%;
	}

	#u1853
	{
		background-image: url("../images/u1853.png");
		margin-top: 19px;
		width: 60.32%;
		margin-left: 19.85%;
		left: 1px;
	}

	#pu1670-4
	{
		margin-top: 18px;
		width: 100%;
	}

	#u1670-4
	{
		min-height: 28px;
		text-align: left;
		margin-right: -10000px;
		width: 7.3%;
		left: 19.8%;
	}

	#u1679-4
	{
		min-height: 28px;
		text-align: left;
		margin-right: -10000px;
		width: 7.3%;
		left: 44.48%;
	}

	#u1670-4:hover,#u1679-4:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		min-height: 28px;
		width: 7.3%;
		margin-left: 0%;
	}

	#u1688-4
	{
		min-height: 28px;
		text-align: left;
		font-size: 19px;
		line-height: 23px;
		margin-right: -10000px;
		width: 19.59%;
		left: 60.42%;
	}

	#u911
	{
		min-height: 86px;
		padding-bottom: 28px;
	}

	#u158_align_to_page,#u911_align_to_page
	{
		max-width: 960px;
	}

	#u1705-5
	{
		min-height: 60px;
		font-size: 50px;
		line-height: 60px;
		margin-top: 26px;
		width: 58.86%;
		margin-left: 20.58%;
		left: -1px;
	}

	#u1705-5:hover
	{
		margin-top: 26px;
		min-height: 60px;
		width: 58.86%;
		margin-left: 20.58%;
		left: -1px;
	}

	#u1705
	{
		line-height: 60px;
	}

	#u1705-2
	{
		font-size: 25px;
		line-height: 30px;
	}

	#u911-bw
	{
		min-height: 86px;
		margin-top: 97px;
	}

	#u2369
	{
		position: fixed;
		bottom: 20px;
		right: 20px;
		width: 9.48%;
		max-width: 91px;
	}

	#u2369:hover
	{
		margin-left: 0px;
		margin-top: 0px;
		width: 9.48%;
		max-width: 91px;
	}

