	#pu9118:active #u9118,#pu9116:hover #u9116,#pu9118:hover #u9118,#pu9116:active #u9116,#pu9437:active #u9437,#pu9437:hover #u9437,#pu9114:active #u9114,#pu9114:hover #u9114
	{
		width: 44px;
		height: 44px;
	}

	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1133.85px;
		padding-bottom: 0px;
		max-width: 960px;
	}

	#u6964
	{
		min-height: 202px;
		padding-bottom: 14px;
	}

	#u6964_align_to_page
	{
		max-width: 960px;
	}

	#u6939
	{
		margin-top: 20px;
		width: 18.96%;
		left: 2.09%;
	}

	#ppu6933-4
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 71.98%;
		margin-left: 25.94%;
	}

	#u6933-4
	{
		min-height: 91px;
		font-size: 72px;
		line-height: 86px;
		margin-top: 3px;
		width: 61.22%;
	}

	#u9373-4
	{
		min-height: 37px;
		position: relative;
		margin-right: -10000px;
		width: 11.15%;
		left: 68.75%;
	}

	#u9373-4.MuseLinkActive
	{
		margin-right: -10000px;
		min-height: 37px;
		width: 11.15%;
		margin-left: 0%;
	}

	#u9388-4
	{
		min-height: 37px;
		font-size: 18px;
		line-height: 22px;
		position: relative;
		margin-right: -10000px;
		width: 18.67%;
		left: 81.34%;
	}

	#u9388-4:hover
	{
		margin-right: -10000px;
		min-height: 37px;
		width: 18.67%;
		margin-left: 0%;
	}

	#u6960-4
	{
		min-height: 63px;
		text-align: left;
		font-size: 24px;
		line-height: 29px;
		margin-top: 6px;
		width: 95.52%;
	}

	#u6964-bw
	{
		min-height: 202px;
	}

	#pamphletu9093
	{
		height: 545px;
		padding-bottom: 12px;
		margin-top: 47px;
		margin-left: 50%;
		left: -460px;
	}

	#u9113
	{
		width: 155px;
		margin-top: 525px;
		left: 382px;
	}

	#pu9114
	{
		top: -13px;
		left: -13px;
	}

	#u11805
	{
		height: 20px;
		width: 44.45%;
	}

	#pu9114:hover #u11805
	{
		margin-top: 12px;
		height: 20px;
		width: 44.45%;
		left: 26.67%;
	}

	#pu9114:active #u11805
	{
		margin-top: 12px;
		height: 20px;
		width: 44.45%;
		left: 26.67%;
	}

	#pu9116
	{
		top: -13px;
		left: 33px;
	}

	#pu9114.PamphletThumbSelected #u11805,#u11787
	{
		height: 20px;
		width: 44.45%;
	}

	#pu9116:hover #u11787
	{
		margin-top: 12px;
		height: 20px;
		width: 44.45%;
		left: 26.67%;
	}

	#pu9116:active #u11787
	{
		margin-top: 12px;
		height: 20px;
		width: 44.45%;
		left: 26.67%;
	}

	#pu9118
	{
		top: -13px;
		left: 78px;
	}

	#pu9116.PamphletThumbSelected #u11787,#u11769
	{
		height: 20px;
		width: 44.45%;
	}

	#pu9118:hover #u11769
	{
		margin-top: 12px;
		height: 20px;
		width: 44.45%;
		left: 24.45%;
	}

	#pu9118:active #u11769
	{
		margin-top: 12px;
		height: 20px;
		width: 44.45%;
		left: 24.45%;
	}

	#pu9118 #u11769
	{
		margin-top: 13px;
		width: 44.45%;
		left: 26.67%;
	}

	#pu9437
	{
		top: -13px;
		left: 123px;
	}

	#u9114,#u9116,#u9118,#u9437
	{
		width: 45px;
		height: 45px;
	}

	#pu9118.PamphletThumbSelected #u11769,#u9510
	{
		height: 20px;
		width: 44.45%;
	}

	#pu9437:hover #u9510
	{
		margin-top: 12px;
		height: 20px;
		width: 44.45%;
		left: 26.67%;
	}

	#pu9437:active #u9510
	{
		margin-top: 12px;
		height: 20px;
		width: 44.45%;
		left: 26.67%;
	}

	#pu9437.PamphletThumbSelected #u9510
	{
		height: 20px;
		width: 44.45%;
	}

	#pu9114 #u11805,#pu9116 #u11787,#pu9437 #u9510
	{
		margin-top: 13px;
		width: 44.45%;
		left: 28.89%;
	}

	#u9098
	{
		width: 920px;
	}

	#u9103
	{
		width: 920px;
		height: 454px;
		padding-bottom: 50px;
	}

	#u9104-4
	{
		font-size: 24px;
		line-height: 34px;
		width: 27.51%;
		margin-left: 36.31%;
	}

	#u9354
	{
		margin-top: 12px;
		width: 64.9%;
		margin-left: 17.5%;
	}

	#u9107
	{
		width: 920px;
		height: 464px;
		padding-bottom: 40px;
	}

	#u9619-4
	{
		min-height: 60px;
		font-size: 24px;
		line-height: 34px;
		width: 27.51%;
		margin-left: 36.31%;
	}

	#u9521
	{
		width: 24.68%;
		margin-left: 37.61%;
	}

	#u9634
	{
		margin-top: 92px;
		width: 48.92%;
	}

	#u9745-4
	{
		min-height: 60px;
		font-size: 24px;
		line-height: 34px;
		font-weight: 500;
		margin-right: -10000px;
		width: 49.46%;
		margin-left: 25.28%;
		left: 1px;
	}

	#u9688
	{
		margin-top: 92px;
		width: 17.61%;
		margin-left: 82.4%;
		left: -144px;
	}

	#page_position_content,#u6939_img,#pu6933-4,#u9354_img,#u9521_img,#u9634_img,#u9688_img
	{
		width: 100%;
	}

	#u9099,#u9458
	{
		width: 920px;
		height: 504px;
	}

	#u9760-13
	{
		min-height: 399px;
		font-size: 28px;
		line-height: 39px;
		width: 74.68%;
		margin-left: 12.67%;
		left: 0px;
	}

	#u6953
	{
		margin-top: 127px;
		width: 20.21%;
		margin-left: 39.9%;
	}

	#u6953:hover
	{
		margin-top: 127px;
		width: 20.21%;
		margin-left: 39.9%;
	}

	#u6937-4
	{
		min-height: 22px;
		font-size: 12px;
		line-height: 14px;
	}

	#u6937-4-bw
	{
		min-height: 22px;
		margin-top: 106px;
	}

	#u6946
	{
		min-height: 86px;
		padding-bottom: 28px;
	}

	#u6946_align_to_page
	{
		max-width: 960px;
		margin-bottom: -1px;
	}

	#u6958-5
	{
		min-height: 60px;
		font-size: 50px;
		line-height: 60px;
		margin-top: 26px;
		width: 58.86%;
		margin-left: 20.58%;
		left: 0px;
	}

	#u6958-5:hover
	{
		margin-top: 26px;
		min-height: 60px;
		width: 58.86%;
		margin-left: 20.58%;
		left: 0px;
	}

	#u6958
	{
		line-height: 60px;
	}

	#u6958-2
	{
		font-size: 25px;
		line-height: 30px;
	}

	#u6946-bw
	{
		min-height: 86px;
		margin-top: -1px;
	}

	#u6935
	{
		position: fixed;
		bottom: 9px;
		right: 20px;
		width: 10.42%;
		max-width: 100px;
	}

	#u6935:hover
	{
		margin-left: 0px;
		margin-top: 0px;
		width: 10.42%;
		max-width: 100px;
	}

