	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 2618.9px;
		padding-bottom: 0px;
		max-width: 960px;
	}

	#u158
	{
		min-height: 202px;
		padding-bottom: 14px;
	}

	#u608
	{
		margin-top: 20px;
		width: 18.96%;
		left: 2.09%;
	}

	#ppu255-4
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 71.98%;
		margin-left: 25.94%;
	}

	#page_position_content,#u608_img,#pu255-4
	{
		width: 100%;
	}

	#u255-4
	{
		min-height: 91px;
		line-height: 86px;
		font-size: 72px;
		margin-top: 3px;
		width: 61.22%;
	}

	#u9411-4
	{
		min-height: 37px;
		line-height: 22px;
		font-size: 18px;
		width: 11.15%;
		left: 68.75%;
	}

	#u9411-4:hover
	{
		min-height: 37px;
		width: 11.15%;
		margin-left: 0%;
	}

	#u9412-4
	{
		min-height: 37px;
		width: 18.67%;
		left: 81.34%;
	}

	#u9412-4.MuseLinkActive
	{
		min-height: 37px;
		width: 18.67%;
		margin-left: 0%;
	}

	#u618-4
	{
		min-height: 63px;
		line-height: 29px;
		text-align: left;
		font-size: 24px;
		margin-top: 6px;
		width: 95.52%;
	}

	#u158-bw
	{
		min-height: 202px;
	}

	#pu5663-4
	{
		margin-top: 100px;
		width: 100%;
	}

	#u5663-4
	{
		min-height: 51px;
		line-height: 36px;
		font-size: 30px;
		font-family: '__Ubuntu_5';
		font-weight: 500;
		margin-right: -10000px;
		margin-top: 212px;
		left: 84px;
		width: 33.44%;
	}

	#u5663-4:hover
	{
		margin-left: 0px;
		margin-right: -10000px;
		margin-top: 212px;
		min-height: 51px;
		width: 33.44%;
	}

	#u5689
	{
		margin-right: -10000px;
		margin-top: 289px;
		width: 24.59%;
		left: 13.23%;
	}

	#u5689:hover
	{
		width: 24.59%;
		margin: 289px -10000px 0px 0%;
	}

	#u5732
	{
		margin-right: -10000px;
		width: 35.42%;
		left: 54.8%;
	}

	#pu726
	{
		margin-top: 163px;
		width: 100%;
	}

	#u726
	{
		margin-right: -10000px;
		width: 35.42%;
		left: 7.82%;
	}

	#u740-4
	{
		min-height: 108px;
		line-height: 36px;
		font-size: 30px;
		font-family: '__Ubuntu_5';
		font-weight: 500;
		margin-right: -10000px;
		margin-top: 179px;
		width: 39.69%;
		left: 54.59%;
	}

	#ppu763-4
	{
		margin-top: 248px;
		width: 100%;
	}

	#pu763-4
	{
		margin-right: -10000px;
		margin-top: 198px;
		width: 35.21%;
		margin-left: 7.92%;
	}

	#u763-4
	{
		min-height: 84px;
		line-height: 36px;
		font-size: 30px;
		font-family: '__Ubuntu_5';
		font-weight: 500;
		width: 100%;
	}

	#u772-4
	{
		min-height: 41px;
		line-height: 19px;
		font-size: 16px;
		width: 99.71%;
	}

	#u749
	{
		margin-right: -10000px;
		width: 36.67%;
		left: 56.15%;
	}

	#pu1652-4
	{
		margin-top: 234px;
		width: 100%;
	}

	#u1652-4
	{
		min-height: 53px;
		line-height: 36px;
		font-size: 30px;
		font-family: '__Ubuntu_5';
		font-weight: 500;
		margin-right: -10000px;
		width: 29.07%;
		left: 35.53%;
	}

	#u1629
	{
		width: 741px;
		position: relative;
		margin-right: -10000px;
		margin-top: 89px;
		margin-left: 50%;
		left: -370px;
	}

	#u1642-36
	{
		width: 540px;
		min-height: 332px;
		line-height: 29px;
		font-size: 24px;
		margin-top: 121px;
		margin-left: 50%;
		left: -266px;
	}

	#u1661-4
	{
		min-height: 61px;
		line-height: 43px;
		font-size: 36px;
		font-family: '__Ubuntu_5';
		font-weight: 500;
		margin-top: 119px;
		width: 56.05%;
		margin-left: 21.98%;
	}

	#u1853
	{
		background-image: url("../images/u1853.png");
		margin-top: 38px;
		width: 60.32%;
		margin-left: 19.85%;
		left: 1px;
	}

	#pu1670-4
	{
		margin-top: 18px;
		width: 100%;
	}

	#u1670-4
	{
		min-height: 28px;
		text-align: left;
		margin-right: -10000px;
		width: 7.3%;
		left: 21.88%;
	}

	#u1679-4
	{
		min-height: 28px;
		margin-right: -10000px;
		width: 7.3%;
		left: 46.25%;
	}

	#u1670-4:hover,#u1679-4:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		min-height: 28px;
		width: 7.3%;
		margin-left: 0%;
	}

	#u1688-4
	{
		min-height: 28px;
		line-height: 23px;
		font-size: 19px;
		margin-right: -10000px;
		width: 19.59%;
		left: 64.69%;
	}

	#pu3296-4
	{
		margin-top: 70px;
		width: 100%;
	}

	#u3296-4
	{
		line-height: 19px;
		font-size: 16px;
		margin-right: -10000px;
		margin-top: 5px;
		left: 22px;
		width: 18.23%;
	}

	#u3296-4:hover
	{
		margin-left: 0px;
		margin-right: -10000px;
		margin-top: 5px;
		width: 18.23%;
	}

	#u5678-4
	{
		min-height: 22px;
		line-height: 14px;
		font-size: 12px;
		position: relative;
		margin-right: -10000px;
		width: 32.5%;
		left: 65.42%;
	}

	#u911
	{
		min-height: 86px;
		padding-bottom: 28px;
	}

	#u158_align_to_page,#u911_align_to_page
	{
		max-width: 960px;
	}

	#u1705-5
	{
		min-height: 60px;
		line-height: 60px;
		font-size: 50px;
		margin-top: 26px;
		width: 58.86%;
		margin-left: 20.58%;
		left: 0px;
	}

	#u1705-5:hover
	{
		margin-top: 26px;
		min-height: 60px;
		width: 58.86%;
		margin-left: 20.58%;
		left: 0px;
	}

	#u1705
	{
		line-height: 60px;
	}

	#u1705-2
	{
		font-size: 25px;
		line-height: 30px;
	}

	#u911-bw
	{
		min-height: 86px;
		margin-top: 17px;
	}

	#u2369
	{
		position: fixed;
		bottom: 9px;
		right: 20px;
		width: 10.42%;
		max-width: 100px;
	}

	#u2369:hover
	{
		margin-left: 0px;
		margin-top: 0px;
		width: 10.42%;
		max-width: 100px;
	}

